$color-white: white;
$color-black: black;
$color-pink-1: #FFB8CA;
$color-pink-2: #FFF5F6;
$color-pink-3: #ffa5ba;
$color-red-1: #D41443;
$color-red-2:#907e82;
$color-yellow-1: #f0d1a5;
$color-green-1: #c2e297;

