<section class="section-intro">
  <div class="intro__components container">
    <div class="intro__left">
      <h1 class="intro__title">
        <span class="intro__title-1">ice cream</span>
        <span class="intro__title-1">made with</span>
        <span class="intro__title-2">passion</span>
      </h1>
      <ul class="intro__buttons">
        <li class="intro__button">
          <button class="intro__button__product">Products</button>
        </li>
        <li class="intro__button">
          <button class="intro__button__made">How it’s made?</button>
        </li>
      </ul>
      <div class="intro__milk">
        <img
          class="intro__milk__img"
          src="./images/section_1_intro/section-1-milk.png"
          alt="section-1-milk"
        />
        <div class="intro__milk__info">
          <p class="intro__milk__info-benefit">
            Indulge in a scoop of ice cream made with passion and treat your
            taste buds to an unforgettable experience!
          </p>
          <button class="intro__milk__info-btn">
            <img
              class="intro__milk-info-btn-img"
              src="./images/section_1_intro/section-1-arrow.png"
              alt="section-1-girl"
            />
          </button>
        </div>
      </div>
    </div>
    <div class="intro__right">
      <div class="intro__numbers">
        <ul class="intro__numbers-list">
          <li class="intro__numbers-item">
            <p class="intro__numbers-number">16</p>
            <p class="intro__numbers-property">cafes</p>
          </li>
          <li class="intro__numbers-item">
            <p class="intro__numbers-number">23</p>
            <p class="intro__numbers-property">food trucks</p>
          </li>
        </ul>
      </div>
      <div class="intro__images">
        <img
          class="intro__images-girl"
          src="./images/section_1_intro/section-1-girl.png"
          alt="section-1-girl"
        />
        <img
          class="intro__images-ice-cream"
          src="./images/section_1_intro/section-1-ice-cream.png"
          alt="section-1-ice-cream"
        />
      </div>
    </div>
  </div>
</section>
