<section class="section-products">
  <div class="product_components container">
    <!-- Your  code -->
    <div class="product_components container">
      <div class="tittles">
        <h2 class="tittles__small">100% natural</h2>
        <h1 class="tittles__big">products</h1>
      </div>
      <ul class="frame__icecream">
        <li class="frame__icecream__type">
          <div class="frame__icecream__image">
  
          </div>
          <h3 class="tittles__"></h3>
        </li>
        <li class="frame__icecream__type">
          <div class="frame__icecream__image">
  
          </div>
          <h3 class="tittles__"></h3>
        </li>
        <li class="frame__icecream__type">
          <div class="frame__icecream__image">
  
          </div>
          <h3 class="tittles__"></h3>
        </li>
      </ul>
      
    </div>
  </div>
</section>
