<section class="section-products">
  <div class="product_components container">
    <span class="product-title-1">100% natural</span>
    <span class="product-title-2">PRODUCTS</span>
    <ul class="products-list">
      <li class="product-item-1">
        <div class="product-item__image">
          <img
            class="product-item__image-img"
            src="./images/section_2_products/section_2_product-1.png"
            alt="section-2-product-1"
          />
        </div>
        <span class="product-item__title">ice cream</span>
        <div class="product-item__separator">
          <svg class="product-item__separator__three-dots-svg">
            <use href="./images/icons.svg#three-dots-section-2"></use>
          </svg>
        </div>
        <span class="product-item__description"
          >Indulge in our rich and creamy ice cream, handcrafted with
          all-natural ingredients and available in a variety of flavors.</span
        >
        <button class="product-item__btn">
          <img
            class="product-item__btn-img"
            src="./images/section_2_products/section_2_arrow.png"
            alt="product-btn"
          />
        </button>
      </li>
      <li class="product-item-2">
        <div class="product-item__image">
          <img
            class="product-item__image-img"
            src="./images/section_2_products/section_2_product-2.png"
            alt="section-2-product-2"
          />
        </div>
        <span class="product-item__title">ice coffee</span>
        <div class="product-item__separator">
          <svg class="product-item__separator__three-dots-svg">
            <use href="./images/icons.svg#three-dots-section-2"></use>
          </svg>
        </div>
        <span class="product-item__description"
          >Refresh and energize with our perfectly brewed iced coffee, made with
          high-quality beans and served over ice.</span
        >
        <button class="product-item__btn">
          <img
            class="product-item__btn-img"
            src="./images/section_2_products/section_2_arrow.png"
            alt="product-btn"
          />
        </button>
      </li>
      <li class="product-item-3">
        <div class="product-item__image">
          <img
            class="product-item__image-img"
            src="./images/section_2_products/section_2_product-3.png"
            alt="section-2-product-3"
          />
        </div>
        <span class="product-item__title">milkshakes</span>
        <div class="product-item__separator">
          <svg class="product-item__separator__three-dots-svg">
            <use href="./images/icons.svg#three-dots-section-2"></use>
          </svg>
        </div>
        <span class="product-item__description"
          >Satisfy your sweet tooth with our thick, made with premium ice cream,
          topped with whipped cream and your favorite toppings.</span
        >
        <button class="product-item__btn">
          <img
            class="product-item__btn-img"
            src="./images/section_2_products/section_2_arrow.png"
            alt="product-btn"
          />
        </button>
      </li>
    </ul>
  </div>
</section>
