<section class="section-made">
  <div class="made_components container">
    <span class="made__title-1">tradition and love</span>
    <span class="made__title-2">how it’s made?</span>
    <div class="made__info">
      <picture>
        <source
          srcset="
            ./images/section_3_made/section_3-milk-desktop.png    1x,
            ./images/section_3_made/section_3-milk-desktop@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
          ./images/section_3_made/section_3-milk-tablet.png    1x,
          ./images/section_3_made/section_3-milk-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
          ./images/section_3_made/section_3-milk-mobile.png    1x,
          ./images/section_3_made/section_3-milk-mobile@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="made__info-img"
          src="./images/section_3_made/section_3-milk-desktop.png"
          alt="section-3-milk-cow"
        />
      </picture>
      <div class="made__info-description">
        <span class="made__info-description-1"
          >Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </span>
        <span class="made__info-description-2"
          >We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </span>
        <button class="made__info-description__btn">
          Read more
          <div class="made__info-description__btn-icon">
            <svg class="made__info-description__btn-svg">
              <use href="./images/icons.svg#greater-than-section-1"></use>
            </svg>
          </div>
        </button>
      </div>
    </div>
    <div class="made__data">
      <ul class="made__data-list">
        <li class="made__data-item">
          <div class="made__data-item__img">
            <svg class="made__data-item__img-svg">
              <use href="./images/icons.svg#section-3-milk"></use>
            </svg>
          </div>
          <span class="made__data-number">721</span>
          <span class="made__data-description-1"
            >At 721 Cow, we're passionate about producing the highest quality
            ice cream possible.</span
          >
        </li>
        <li class="made__data-item">
          <div class="made__data-item__img">
            <svg class="made__data-item__img-svg">
              <use href="./images/icons.svg#section-3-apples"></use>
            </svg>
          </div>
          <span class="made__data-number">16kg</span>
          <span class="made__data-description-2"
            >You can be sure you're getting a scoop of the freshest ice cream
            around.</span
          >
        </li>
        <li class="made__data-item">
          <div class="made__data-item__img">
            <svg class="made__data-item__img-svg">
              <use href="./images/icons.svg#section-3-heart"></use>
            </svg>
          </div>
          <span class="made__data-number">84</span>
          <span class="made__data-description-3"
            >We use only the freshest, locally-sourced ingredients to make our
            84 unique and delicious flavors.</span
          >
        </li>
      </ul>
    </div>
  </div>
</section>
