<section class="section-testimonials">
  <div class="testimonial_components container">
    <img
      class="testimonial__image-people"
      src="./images/section_4_testimonials/section-4-people.png"
      alt="section-4-people"
    />
    <div class="testimonial__pictures">
      <img
        class="testimonial__picture"
        src="./images/section_4_testimonials/section-4-picture-1.png"
        alt="section-4-picture-1"
      />
    </div>
    <div class="testimonial__comment">
      <div class="testimonial__comment__quote-mark">
        <svg class="testimonial__comment__quote-mark-icon">
          <use href="./images/icons.svg#quote-mark-section-4"></use>
        </svg>
      </div>
      <span class="testimonial__comment-1">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </span>
      <div class="testimonial__comment__lines">
        <ul class="testimonial__comment__lines-list">
          <li class="testimonial__comment__line">
            <svg class="testimonial__comment__line-svg">
              <use href="./images/icons.svg#underline-section-4"></use>
            </svg>
          </li>
          <li class="testimonial__comment__line">
            <svg class="testimonial__comment__line-svg">
              <use href="./images/icons.svg#underline-section-4"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
    <div class="testimonial__comment__separator">
      <svg class="testimonial__comment__separator-svg">
        <use href="./images/icons.svg#three-dots-section-4"></use>
      </svg>
    </div>
    <div class="testimonial__name">
      <span class="testimonial__name-1">Emily, Los Angeles</span>
    </div>
    <div class="testimonial__comment-menu">
      <ul class="testimonial__comment-menu-list">
        <il class="testimonial__comment-menu-house">
          <svg class="testimonial__comment__menu-house-svg">
            <use href="./images/icons.svg#house-section-4"></use>
          </svg>
        </il>
        <il class="testimonial__comment-menu-dot">
          <svg class="testimonial__comment__menu-dot-svg">
            <use href="./images/icons.svg#dots-menu-section-4"></use>
          </svg>
        </il>
        <il class="testimonial__comment-menu-dot">
          <svg class="testimonial__comment__menu-dot-svg">
            <use href="./images/icons.svg#dots-menu-section-4"></use>
          </svg>
        </il>
      </ul>
    </div>
  </div>
</section>
