<section class="section-testimonials">
  <div class="testimonial_components container">
    <div class="testimonial__image-people">
      <picture class="testimonial__image-people-img">
          <source
            srcset="
            ./images/section_4_testimonials/section-4-people-desktop.png    1x,
            ./images/section_4_testimonials/section-4-people-desktop@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
            ./images/section_4_testimonials/section-4-people-tablet.png    1x,
            ./images/section_4_testimonials/section-4-people-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
            ./images/section_4_testimonials/section-4-people-mobile.png    1x,
            ./images/section_4_testimonials/section-4-people-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/section_4_testimonials/section-4-people-desktop.png"
            alt="section-4-people"
          />
        </picture>
        
    </div>
    
    <div class="testimonial__pictures">

      <picture class="testimonial__picture">
        <source
            srcset="
            ./images/section_4_testimonials/section-4-picture-1.png    1x,
            ./images/section_4_testimonials/section-4-picture-1@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
            ./images/section_4_testimonials/section-4-picture-1.png    1x,
            ./images/section_4_testimonials/section-4-picture-1@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
            ./images/section_4_testimonials/section-4-picture-1.png    1x,
            ./images/section_4_testimonials/section-4-picture-1@2x.png 2x
            "
            media="(max-width: 767px)"
          />
        <img
          src="./images/section_4_testimonials/section-4-picture-1.png"
          alt="section-4-picture-1"
          
        />
      </picture>
     
    </div>
    <div class="testimonial__comment">
      <div class="testimonial__comment-back-box">
        <div class="testimonial__comment__quote-mark">
          <svg class="testimonial__comment__quote-mark-icon">
            <use href="./images/icons.svg#quote-mark-section-4"></use>
          </svg>
        </div>
        <div class="testimonial__comment__lines">
          <ul class="testimonial__comment__lines-list">
            <li class="testimonial__comment__line">
              <svg class="testimonial__comment__line-svg">
                <use href="./images/icons.svg#underline-section-4"></use>
              </svg>
            </li>
            <li class="testimonial__comment__line">
              <svg class="testimonial__comment__line-svg">
                <use href="./images/icons.svg#underline-section-4"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>
      <div class="testimonial__mobile-lines">
        <hr class="hr-mobile"><hr class="hr-mobile">
        <hr class="hr-mobile"><hr class="hr-mobile">
        <hr class="hr-mobile"><hr class="hr-mobile">
        <hr class="hr-mobile">
      </div>
      <div class="testimonial__tablet-lines">
        <hr class="hr-tablet"><hr class="hr-tablet">
        <hr class="hr-tablet">
      </div>
      
        <span class="testimonial__comment-1">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </span>
    </div>
    <div class="testimonial__comment__separator">
      <svg class="testimonial__comment__separator-svg">
        <use href="./images/icons.svg#three-dots-section-4"></use>
      </svg>
    </div>
    <div class="testimonial__name">
      <span class="testimonial__name-1">Emily, Los Angeles</span>
    </div>
    <div class="testimonial__comment-menu">
      <ul class="testimonial__comment-menu-list">
        <il class="testimonial__comment-menu-icon">
          <svg class="testimonial__comment__menu-svg">
            <use href="./images/icons.svg#house-section-4"></use>
          </svg>
        </il>
        <il class="testimonial__comment-menu-icon">
          <svg class="testimonial__comment__menu-svg">
            <use href="./images/icons.svg#dots-menu-section-4"></use>
          </svg>
        </il>
        <il class="testimonial__comment-menu-icon">
          <svg class="testimonial__comment__menu-svg">
            <use href="./images/icons.svg#dots-menu-section-4"></use>
          </svg>
        </il>
      </ul>
    </div>
  </div>
</section>
