<section class="section-locations">
  <div class="locations_components container">
    <div class="locations_section">
      <ul class="locations__list">
        <li class="location_card">
          <div class="location_card__margin">
            <p class="location_card__title-1">CAFE</p>
            <p class="location-card__city">Chicago</p>
            <p class="location-card__services">
              Handcrafted coffee, baked goods, and premium ice cream.
            </p>
            <div class="location-card__separator">
              <svg class="location-card__separator__line-svg">
                <use href="./images/icons.svg#separator-lines-section-5"></use>
              </svg>
            </div>
            <div class="location-card__schedule">
              <ul class="location-card__schedule-list">
                <li class="location-card__schedule-list-item">
                  <p class="location-card__schedule-days">Monday - Friday</p>
                  <p class="location-card__schedule-hours">
                    06:00 AM - 10:00 PM
                  </p>
                </li>
                <li class="location-card__schedule-list-item">
                  <p class="location-card__schedule-days">Saturday - Sunday</p>
                  <p class="location-card__schedule-hours">
                    08:00 AM - 16:00 PM
                  </p>
                </li>
              </ul>
            </div>
            <div class="location-card__separator">
              <svg class="location-card__separator__line-svg">
                <use href="./images/icons.svg#separator-lines-section-5"></use>
              </svg>
            </div>
            <div class="location-card__contact-info">
              <ul class="location-card__contact-info-list">
                <li class="location-card__contact-item">
                  <a
                    class="location-card__contact-info-phone"
                    href="tel:+610383766284"
                  >
                    +61(0) 383 766 284
                  </a>
                </li>
                <li class="location-card__contact-item">
                  <a
                    class="location-card__contact-info-mail"
                    href="mailto:noreply@envato.com"
                  >
                    noreply@envato.com
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li class="location_card">
          <div class="location_card__margin">
            <p class="location_card__title-2">FOOD TRUCK</p>
            <p class="location-card__city">Los Angeles</p>
            <p class="location-card__services">
              Fusion cuisine and refreshing ice cream made with passion.
            </p>
            <div class="location-card__separator">
              <svg class="location-card__separator__line-svg">
                <use href="./images/icons.svg#separator-lines-section-5"></use>
              </svg>
            </div>
            <div class="location-card__schedule">
              <ul class="location-card__schedule-list">
                <li class="location-card__schedule-list-item">
                  <p class="location-card__schedule-days">Monday - Friday</p>
                  <p class="location-card__schedule-hours">
                    06:00 AM - 10:00 PM
                  </p>
                </li>
                <li class="location-card__schedule-list-item">
                  <p class="location-card__schedule-days">Saturday - Sunday</p>
                  <p class="location-card__schedule-hours">
                    08:00 AM - 16:00 PM
                  </p>
                </li>
              </ul>
            </div>
            <div class="location-card__separator">
              <svg class="location-card__separator__line-svg">
                <use href="./images/icons.svg#separator-lines-section-5"></use>
              </svg>
            </div>
            <div class="location-card__contact-info">
              <ul class="location-card__contact-info-list">
                <li class="location-card__contact-item">
                  <a
                    class="location-card__contact-info-phone"
                    href="tel:+610383766284"
                  >
                    +61(0) 383 766 284
                  </a>
                </li>
                <li class="location-card__contact-item">
                  <a
                    class="location-card__contact-info-mail"
                    href="mailto:noreply@envato.com"
                  >
                    noreply@envato.com
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li class="location_card">
          <div class="location_card__margin">
            <p class="location_card__title-1">CAFE</p>
            <p class="location-card__city">New York</p>
            <p class="location-card__services">
              Specialty teas, artisanal pastries, mouth-watering ice cream.
            </p>
            <div class="location-card__separator">
              <svg class="location-card__separator__line-svg">
                <use href="./images/icons.svg#separator-lines-section-5"></use>
              </svg>
            </div>
            <div class="location-card__schedule">
              <ul class="location-card__schedule-list">
                <li class="location-card__schedule-list-item">
                  <p class="location-card__schedule-days">Monday - Friday</p>
                  <p class="location-card__schedule-hours">
                    06:00 AM - 10:00 PM
                  </p>
                </li>
                <li class="location-card__schedule-list-item">
                  <p class="location-card__schedule-days">Saturday - Sunday</p>
                  <p class="location-card__schedule-hours">
                    08:00 AM - 16:00 PM
                  </p>
                </li>
              </ul>
            </div>
            <div class="location-card__separator">
              <svg class="location-card__separator__line-svg">
                <use href="./images/icons.svg#separator-lines-section-5"></use>
              </svg>
            </div>
            <div class="location-card__contact-info">
              <ul class="location-card__contact-info-list">
                <li class="location-card__contact-item">
                  <a
                    class="location-card__contact-info-phone"
                    href="tel:+610383766284"
                  >
                    +61(0) 383 766 284
                  </a>
                </li>
                <li class="location-card__contact-item">
                  <a
                    class="location-card__contact-info-mail"
                    href="mailto:noreply@envato.com"
                  >
                    noreply@envato.com
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="locations__buttons">
      <ul class="locations__buttons-list">
        <li class="locations__buttons-btn-1">
          <button class="locations__buttons-btn-1__btn">
            Our Locations
            <div class="locations__buttons-btn-1__btn-icon">
              <svg class="locations__buttons-btn-1__btn--svg">
                <use href="./images/icons.svg#greater-than-section-5"></use>
              </svg>
            </div>
          </button>
        </li>
        <li class="locations__buttons-btn-2">
          <button class="locations__buttons-btn-2__btn">
            Franchise
            <div class="locations__buttons-btn-2__btn-icon">
              <svg class="locations__buttons-btn-2__btn-svg">
                <use href="./images/icons.svg#greater-than-section-1"></use>
              </svg>
            </div>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
