<footer class="footer">
  <div class="footer__components container">
    <div class="footer__contacts">
      <div class="footer__contacts-message">
        <span class="footer__contacts-message-1">homemade ice cream made</span>
        <span class="footer__contacts-message-2">with passion</span>
      </div>
      <div class="footer__contacts-info">
        <ul class="footer__contacts-info-list-socialnet">
          <li>
            <button class="footer__contacts-social-network">
              <svg class="footer__contacts-social-network-svg">
                <use href="./images/icons.svg#github"></use>
              </svg>
            </button> 
          </li>
          <li>
            <button class="footer__contacts-social-network">
              <svg class="footer__contacts-social-network-svg">
                <use href="./images/icons.svg#telegram"></use>
              </svg>
            </button>
          </li>
          <li>
            <button class="footer__contacts-social-network">
              <svg class="footer__contacts-social-network-svg">
                <use href="./images/icons.svg#facebook"></use>
              </svg>
            </button>
          </li>
        </ul>
        <p class="footer__contacts-text">
          Feel free to contact
          <span class="footer__contacts-text-number">+61 (0) 383 766 284</span>
        </p>
      </div>
    </div>
    <div class="footer__separator">
      <svg class="footer__separator__line-svg">
        <use href="./images/icons.svg#separator-lines-footer"></use>
      </svg>
    </div>
    <div>
      <span class="footer__copyright"
        >© 2022 - IceCream. All Rights Reserved.</span
      >
    </div>
  </div>
</footer>
