<header class="header">
  <div class="container">
    <div class="header__components">
      <div class="header__left-section">
        <a class="header__logo" href="/src/index.html">
          <svg class="header__icon-logo">
            <use href="./images/icons.svg#logo"></use>
          </svg>
        </a>
      </div>
      <div class="header__middle-section">
        <nav class="header__navbar">
          <ul class="navbar_list">
            <li>
              <a class="navbar__link navbar__link--active" href="./index.html"
                >Home</a
              >
            </li>
            <li><a class="navbar__link" href="#">About us</a></li>
            <li><a class="navbar__link" href="#">How it's made</a></li>
            <li><a class="navbar__link" href="#">Our products</a></li>
            <li><a class="navbar__link" href="#">Contacts</a></li>
          </ul>
        </nav>
      </div>
      <div class="header__right-section">
        <button class="header__right-section__btn-buy-now">
          Buy now  
          <svg width="24" height="16" class="header__btn-buy">
            <use href="./images/icons.svg#greater-than"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
