<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      class="menu__icon"
    >
      <path
        fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </button>
  <!-- Mobile Menu -->
  <nav class="mobile__menu">
    <div class="mobile-container">
      <button class="header__right-section__btn-buy-now button__mobile">
        Buy now >
      </button>
    </div>
    <!-- Menu Sections -->
    <div class="mobile__menu-sections">
      <ul class="mobile-menu">
        <hr class="mobile__line" />
        <li><a class="link mobile__link--active" href="#">Home</a></li>
        <hr class="mobile__line" />
        <li><a class="link" href="#">About us</a></li>
        <hr class="mobile__line" />
        <li><a class="link" href="#">How it’s made?</a></li>
        <hr class="mobile__line" />
        <li><a class="link" href="#">Our products</a></li>
        <hr class="mobile__line" />
        <li><a class="link" href="#">Contact</a></li>
        <hr class="mobile__line" />
      </ul>
    </div>
  </nav>
</div>
