<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="menu-cotainer__btn-close">
    <button class="menu-toggle-2 js-close-menu">
      <svg
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
        class="menu__icon-2"
      >
        <use href="./images/icons.svg#close-menu"></use>
      </svg>
    </button>
  </div>
  <!-- Mobile Menu -->
  <nav class="mobile__menu">
    <div class="mobile-container">
      <button class="button__mobile">
        Buy now
        <div class="mobile__btn-icon">
          <svg class="mobile__btn-buy">
            <use href="./images/icons.svg#greater-than-section-1"></use>
          </svg>
        </div>
      </button>
    </div>
    <!-- Menu Sections -->
    <div class="mobile__menu-sections">
      <ul class="mobile-menu">
        <hr class="mobile__line" />
        <li><a class="link mobile__link--active" href="#">Home</a></li>
        <hr class="mobile__line" />
        <li><a class="link" href="#">About us</a></li>
        <hr class="mobile__line" />
        <li><a class="link" href="#">How it’s made?</a></li>
        <hr class="mobile__line" />
        <li><a class="link" href="#">Our products</a></li>
        <hr class="mobile__line" />
        <li><a class="link" href="#">Contact</a></li>
        <hr class="mobile__line" />
      </ul>
    </div>
  </nav>
</div>
