<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      class="menu__icon"
    >
      <path
        fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </button>
  <!-- Mobile Menu -->
  <nav class="mobile__menu">
    <!-- Menu Sections -->
    <div class="mobile__menu-sections">
      <ul class="mobile-menu">
        <li>
          <a href="#" class="link mobile__link--active">Estudio</a>
        </li>
        <li><a href="#" class="link">Portafolio</a></li>
        <li><a href="#" class="link">Contactos</a></li>
      </ul>
    </div>

    <!-- Menu Contacts -->
    <div class="mobile__menu-contacts">
      <!-- Phone and Mail -->
      <ul class="mobile__phone-mail">
        <li>
          <a class="mobile__phone__link" href="tel:+525555296000">
            +52 55 5529 6000
          </a>
        </li>
        <li>
          <a class="mobile__mail__link" href="mailto:info@devstudio.com">
            info@devstudio.com
          </a>
        </li>
      </ul>

      <!-- Social Networks -->
      <ul class="mobile__social-networks">
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">LinkedIn</a></li>
      </ul>
    </div>
  </nav>
</div>
