.section-testimonials {
  @extend %flex-center;
  align-items: baseline;
  background-color: $color-white;
  height: 1030px;
  width: auto;
}

.testimonial_components {
  @extend %flex-center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

/* People */

.testimonial__image-people {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1013px;
  height: 430px;
  top: -89px;

  &-img {
    height: 461px;
  }
}

/* Profile Picture */
.testimonial__pictures {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}

/* Comment */
.testimonial__comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 138px;
  margin-bottom: 16px;

  &-back-box {
    position: relative;
    width: 968px;
    height: 138px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
  }

  &__quote-mark {
    position: absolute;
    top: 32px;
    left: 73px;
    width: 54px;
    height: 40px;

    &-icon {
      width: 100%;
      height: 100%;
    }
  }

  &__lines {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    top: 62px;

    &-list {
      display: flex;
      flex-direction: column;
      gap: 31px;
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}

.testimonial__comment__line {
  width: 821px;
  height: 2px;

  &-svg {
    width: 100%;
    height: 100%;
  }
}

.testimonial__comment-1 {
  position: absolute;
  width: 750px;
  margin: 0 auto;
  @extend %dmSans-500;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.64px;
  padding-top: 47px;
}

/*svg - three dots*/

.testimonial__comment__separator {
  @extend %flex-center;
  width: 32px;
  height: 4px;

  &-svg {
    width: 100%;
    height: 100%;
  }
}

/*Name*/
.testimonial__name {
  padding-top: 16px;
  padding-bottom: 32px;

  &-1 {
    @extend %dmSans-500;
    font-size: 20px;
    line-height: 1.86;
  }
}

/*Comment - icon - menu*/

.testimonial__comment-menu {
  &-list {
    @extend %flex-center;
    flex-direction: row;
    gap: 18px;
    padding: 0;
  }
  &-icon {
    width: 12px;
    height: 12px;
  }
}


.testimonial__comment__menu-svg {
  width: 100%;
  height: 100%;
}
