.header {
  @extend %flex-center;
  height: auto;
  background-color: $color-pink-1;

  &__components {
    position: absolute;
    z-index: 3;
    @extend %flex-space-between;
    top: 8px;

    @media screen and (min-width: 768px) {
      top: 32px;
    }
    
    @media screen and (min-width: 1200px) {
      top: 37px;
    }
  }

  &__middle-section {
    @extend %flex-space-between;
  }

  &__right-section{
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}
