.header {
  @extend %flex-center;
  height: auto;
  /* background-color: transparent; */
  padding-top: 37px;
  background-color: $color-pink-1;

  &__components {
    @extend %flex-space-between;
  }

  &__middle-section {
    @extend %flex-space-between;
  }
}
