// Variables
.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  @media screen and (max-width: 1200px) {
    display: none;
  }

  & .link {
    color: inherit;
    text-decoration: none;
  }

  & .link:hover,
  & .link:focus {
    text-decoration: underline;
  }
}

// Base styles for .menu-toggle
.menu-toggle {
  @extend %flex-center;
  min-height: 40px;
  min-width: 40px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  @media screen and (min-width: 1200px) {
    display: none;
  }

  & .menu__icon {
    fill: $color-red-1;
    margin: 0 36px 0 250px;
  }

  &:hover .menu__icon,
  &:focus .menu__icon {
    fill: $color-red-1;
  }
}

// Base styles for .mobile__link--active
.mobile__link--active {
  color: $color-red-1 !important;
}

// Base styles for .menu-container
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 155vh;
  padding: 50px 40px;
  background-color: $color-mobile;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  &.is-open {
    transform: translateX(0);
  }
  
  & .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

.mobile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile__linea {
  border: 1px solid $color-mobile-1;
  width: 100vw;
  margin: 0;
}

// Base styles for .mobile-menu
.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: space-between;

  & .link {
    width: 254px;
    margin-left:30%;
    color: $color-white;
    text-decoration: none;
    @extend %dmSans-700;
    font-size: 14px;
    line-height: 18.23px;
    height: 42px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;

    &:hover,
    &:focus {
      color: $color-red-1;
    }
  }

  &__current{
    color:$color-red-1;
  }
}

